.login-page {
  display: grid;
  place-items: center;
  height: calc(100vh - 40px);
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.login-component {
  padding: 1.1rem;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  @media (min-width: 764px) {
    width: 40%;
    margin: 0;
  }

  @media (min-width: 1368px) {
    width: 380px;
    padding: 2.5rem;
  }

  .MuiButton-containedPrimary {
    display: block;
    margin: 0 auto;
  }

  .MuiFormControl-root.MuiTextField-root {
    width: 100%;
    margin-bottom: 16px;
  }

  .error {
    display: block;
    padding: 1.2rem;
    color: #c62828;
  }
}