aside {
  display: flex;
  height: 0px;
  width: 100%;
  grid-area: aside;
  background: $gray;
  overflow: hidden;
  transition: height ease-in-out 0.3s;

  ul {
    width: 100%;
    overflow: hidden;
    padding: 8px;

    li {
      display: block;
      // height: 24px;
      // line-height: 24px;
      margin-bottom: 8px;
      list-style: none;
      overflow: hidden;

      svg {
        vertical-align: middle;
      }

      a {
        display: inline-block;
        padding: 2px 8px 2px 8px;
        @include fontThin();
        text-decoration: none;
        transition: color ease-in-out 0.2s;
        color: $white;
        font-size: 1.2rem;

        &:hover {
          color: $green;
        }
        &.selected {
          color: $green;
        }
      }
    }
  }

  &.showed {
    height: 250px;
  }

  @media (min-width: 764px) {
    height: 100vh;
    padding-top: 40px;
    padding-left: 2.1rem;
  }
}